* {
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.1px;
}
html {
    scroll-behavior: smooth;
}

.header-logo{
    width: 150px;
}

.max-width-90{
    max-width: 90%;
}

.model-logo{
    width: 70px;
}

.suite-icon{
    width: 30px;
}

.suite-card{
    height: 350px;
}

.social-icon{
    width: 20px;
}

.menu-icon{
    width: 20px;
}

.ai-magic-icon{
    width: 20px;
    height: 20px;
}

.button-icon{
  width: 20px;
  height: 20px;
}

//Animations 
@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0; /* Optional: Fade in as it slides */
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0; /* Optional: Fade out as it slides */
    }
  }