---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Coming soon</Fragment>
      <Fragment slot="desc"><a href="https://waitlist.wetrocloud.com/" target="_blank" class="text-default">Register</a> now to get early access</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Seamlessly Inegrate AI with your custom data
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
      Wetrocloud enables you to seamlessly integrate advanced AI technologies, transforming your data into actionable insights and automating processes to stay competitive in today’s fast-paced market.
      </p>
    </div>
  </Container>
</Layout>
