---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "RAG API",
    description:
      "A powerful API that lets users leverage retrieval-augmented generation (RAG) capabilities, providing relevant, context-aware responses from their own resources.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% available for all languages",
    description:
      "Our multilingual support ensures global accessibility, allowing queries and responses in any language.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand API service",
    description:
      "Pay only for what you use with a flexible, on-demand API service that scales with your business.",
    icon: "bx:bxs-data",
  },
  {
    title: "Customised outputs",
    description:
      "Tailor the output to your business needs with customizable response formats and tone.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Integrated OCR (Optical Character Recognition)",
    description:
      "Easily convert images, PDFs, and scanned documents into searchable, retrievable text for seamless integration with RAG.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Fine tuning (coming soon)",
    description:
      "Get even more precise results by fine-tuning models to better understand your unique content and data context.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to integrate AI in your product
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Wetrocloud provides your business with tools to easily build and interate AI solutions for your business or product
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
