---
import { Picture } from "astro:assets";
import heroImage from "assets/hero-image.svg";
import Link from "@components/ui/link.astro";
---

<main
  class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">

  <div>
    <center>
      <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter max-w-4xl mt-6">
        Scale your business with custom AI solutions
      </h1>
      <p class="text-lg mt-10 text-slate-600 max-w-xl">
        Empower your business with tailored AI solutions that drive efficiency, innovation, and growth.
        Build custom AI solutions for your business with Wetrocloud API
      </p>
      <div class="mt-10 max-w-sm items-center justify-center gap-3">
        <Link
          href="https://waitlist.wetrocloud.com/"
          target="_blank"
          class="flex bg-default gap-1 items-center justify-center font-medium"
          rel="noopener">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get started&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </Link>
        <Link
          size="lg"
          style="outline"
          rel="noopener"
          href="https://waitlist.wetrocloud.com/"
          class="flex gap-1 items-center justify-center mt-5 text-gray-500"
          target="_blank">
          Read the docs
        </Link>
      </div>

      <div class="py-6 md:order-1 hidden md:block">
        <Picture
          src={heroImage}
          alt="Astronaut in the air"
          loading="eager"
          format="avif"
        />
      </div>
    </center>
  </div>
</main>
