---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/meta-banner.png",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Wetocloud"
  : "Wetrocloud - Scale your business with custom AI solutions";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    {/* Icons */}
    <link rel="icon" href ="https://wetrocloud.com/favicon.ico"/>
    <link rel="shortcut icon" href ="https://wetrocloud.com/favicon.ico"/>
    <link rel="icon" href="https://wetrocloud.com/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://wetrocloud.com/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <link rel="canonical" href="https://wetrocloud.com/"/>

    <!-- OG meta tags -->
    <meta property="og:type" content="Wetrocloud - Scale your business with custom AI solutions">
    <meta property="og:url" content="https://wetrocloud.com">
    <meta property="og:title" content="Wetrocloud - Scale your business with custom AI solutions">
    <meta property="og:image" content="https://wetrocloud.com/meta-banner.png"/>
    <meta property="og:description" content="Scale your business with our Retrieval-Augmented Generation (RAG) as a Service platform. Offering multilingual support, on-demand APIs, OCR integration, and customizable outputs, our solution enables enterprises to query their own resources and gain insights with real-time analytics. Fine-tuning and advanced AI features help you build tailored AI solutions that drive growth and efficiency.">


    {/* Twitter OG metadata */}
    <meta property="twitter:title" content="Wetrocloud - Scale your business with custom AI solutions" />
    <meta property="twitter:description" content="Scale your business with our Retrieval-Augmented Generation (RAG) as a Service platform. Offering multilingual support, on-demand APIs, OCR integration, and customizable outputs, our solution enables enterprises to query their own resources and gain insights with real-time analytics. Fine-tuning and advanced AI features help you build tailored AI solutions that drive growth and efficiency." />
    <meta property="twitter:image" content="https://wetrocloud.com/meta-banner.png" />
    <meta name="twitter:image:summary_photo_image:src" content="https://wetrocloud.com/meta-banner.png"/>
    <meta name="twitter:image:photo_image_full_size:src" content="https://wetrocloud.com/meta-banner.png"/>
    <meta name="twitter:image:thumbnail_image:src" content="https://wetrocloud.com/meta-banner.png"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="https://wetrocloud.com"/>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CP7XLD7HG1"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CP7XLD7HG1');
    </script>
    <SEO
      title={makeTitle}
      description="Scale your business with our Retrieval-Augmented Generation (RAG) as a Service platform. Offering multilingual support, on-demand APIs, OCR integration, and customizable outputs, our solution enables enterprises to query their own resources and gain insights with real-time analytics. Fine-tuning and advanced AI features help you build tailored AI solutions that drive growth and efficiency."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Wetrocloud - Scale your business with custom AI solutions`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Wetrocloud - Scale your business with custom AI solutions",
        },
      }}
    />
  </head>
  <body class="px-5">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      *{
        border-radius: 0px;
      }
      body{
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }

      .header-logo{
        width: 150px;
      }
    </style>
  </body>
</html>
